<div class="row mb-10 f-card-wrapper">
    <div class="col-md-12 text-center mb-10">
        <h2>Our Numbers</h2>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="f-card">
            <img src="{% static 'images/users.svg' %}" alt="Clicks">
            <h4>400+</h4>
            <p>Clicks</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="f-card">
            <img src="{% static 'images/views.svg' %}" alt="Clicks">
            <h4>3.5M</h4>
            <p>Views</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="f-card">
            <img src="{% static 'images/sub.svg' %}" alt="Subs">
            <h4>5M+</h4>
            <p>Subscribers</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="f-card">
            <img src="{% static 'images/logs.svg' %}" alt="Logs">
            <h4>400M+</h4>
            <p>Logs</p>
        </div>
    </div>
</div>